@using NTEC.Models
@model NTEC.Models.UpdateUserModel
@{
    ViewBag.Title = "UpdateUser";
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">@(global::Resources.Resource.UpdateUser)</h4>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("UpdateUser", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-body">
                     
                        <div class="form-body">
                            <div class="row">
                               

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4">@(global::Resources.Resource.FirstName)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">@(global::Resources.Resource.LastName)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-md-4">@(global::Resources.Resource.Role)</label>
                                        <div class="col-md-8">
                                            @(global::Resources.Resource.AdminCk) @Html.RadioButtonFor(x => x.RoleID, 1)
                                            @(global::Resources.Resource.User) @Html.RadioButtonFor(x => x.RoleID, 2)
                                            <div class="form-control-focus">
                                            </div>

                                        </div>
                                        @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="control-label col-md-4">@(global::Resources.Resource.Email)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">@(global::Resources.Resource.Telephone)</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control" })
                                    </div>

                                </div>


                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-md-4">@(global::Resources.Resource.IsActive)</label>
                                        <div class="col-md-8">
                                            @Html.CheckBoxFor(x => x.IsActive)
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-4">
                                <div style="margin-top: 25px">
                                    <div class="caption font-green-haze" style="margin-bottom: 10px">
                                        <i class="fa fa-list"></i>
                                        <span class="caption-subject bold uppercase">@(global::Resources.Resource.SelectDepartments)</span>
                                    </div>
                                    @if (SessionManager.LanguageId == "1")
                                    {
                                        <div class="k-rtl">
                                            @(Html.Kendo().MultiSelect()
                                      .Name("Departments")
                                      .DataTextField("NameAr")
                                      .DataValueField("DepartmentId")
                                      .Placeholder("اختار قسم...")
                                      .Value(Model.SelectedDepartments)
                                      .AutoBind(true)

                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetDepartments", "GeneratedReference");
                                          })
                                              .ServerFiltering(true);
                                      })
                                            )
                                        </div>
                                    }
                                    else
                                    { @(Html.Kendo().MultiSelect()
                                      .Name("Departments")
                                      .DataTextField("NameEn")
                                      .DataValueField("DepartmentId")
                                      .Placeholder("Select Departments...")
                                      .Value(Model.SelectedDepartments)
                                      .AutoBind(true)
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetDepartments", "GeneratedReference");
                                          })
                                              .ServerFiltering(true);
                                      })
                                    )
                                    }
                            
                                    @Html.ValidationMessageFor(model => model.Departments, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">@(global::Resources.Resource.Cancel)</button>
        <input class="btn btn-primary" type="submit" value="@(global::Resources.Resource.Save)" />
    </div>
}
